@font-face {
	font-family: 'Lato Light';
	src: url('fonts/lato_light.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/lato_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/lato_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/lato_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/lato_light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/lato_light.svg#lato_light') format('svg'); /* Chrome < 4, Legacy iOS */
}
body {
    background-color: rgba(240, 255, 127, 0.5);
    font-family: 'Lato Light', sans-serif;
}
h1 {
    color:SaddleBrown;
    margin-left: 420px;
}
h2 {
    color: Sienna;
    margin-left: 500px;
}
h3 {
    color: Maroon;
    margin-left: 550px;
}
ol, ul {
    color: Chocolate;
}
p {
    color: Maroon;
    margin-left: 30px;
    font-size: 20px;
}
img {
     margin-left: 400px;
}
